@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --color-main-gray: #585858;
  --color-main-gray-hover: #818181;
  --color-main-red: #C80103;
  --font-display: "Oswald";
}

.vti__dropdown-list {
  z-index: 50;
}

.vti__dropdown-item.highlighted {
  background-color: rgb(219, 234, 254);
}

.vue-tel-input input {
  height: 46px !important;
}